body {
  font-family: "Rubik", sans-serif;
  background-color: blanchedalmond;
  color: antiquewhite;
  text-align: center;
  font-size: 16px;
}

#calculator {
  margin: 20px auto;
  width: 300px;
  max-width: 90vw;
  background-color: rgb(49, 44, 32);
  border-radius: 5px;
  padding: 6px;
  display: flex;
  justify-content: center;
}

.w-full {
  width: 100%;
}

#first-row,
#second-row {
  width: 100%;
  display: flex;
  justify-items: flex-start;
  min-height: 50px;
  height: fit-content;
  background-color: rgb(85, 77, 57);
  color: rgb(247, 247, 244);
  align-items: flex-start;
  border-radius: 5px;
}

#second-row {
  background-color: rgb(49, 44, 32);
  border-radius: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 75%;
  gap: 2px;
  align-items: stretch;
}

#firstDisplayTitle,
#secondDisplayTitle {
  text-align: left;
  padding: 2px;
}

.display-field {
  height: auto;
}

#formulaDisplay,
#answer {
  text-align: right;
  padding: 2px 15px;
  white-space: nowrap;
  text-wrap: wrap;
  max-width: 227px;
  height: 23px;
  justify-content: end;
  height: auto;
  word-break: break-word;
}

#clear,
#all-clear {
  background-color: rgb(243, 110, 66);
  color: whitesmoke;
  opacity: 100%;
  padding: 1px;
  height: 50px;
  font-size: 16px;
  width: 73px;
}

* {
  border-radius: 5px;
}

#third-row,
#seventh-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  height: 50px;
  background-color: rgb(85, 77, 57);
  color: rgb(247, 247, 244);
}

#fourth-row,
#fifth-row,
#sixth-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 50px;
  background-color: rgb(85, 77, 57);
  color: rgb(247, 247, 244);
}

.digit,
.operator {
  padding: 1px;
  height: 50px;
}

.digit {
  background-color: rgb(117, 109, 89);
}
.operator {
  background-color: orange;
}

.button {
  width: 100%;
  height: 100%;
  opacity: 50%;
  font-size: 20px;
}

#dialog {
  position: absolute;
  top: 30px;
  left: 50%;
  height: 120px;
  transform: translateX(-50%);
  width: 65vw;
  max-width: 300px;
  background-color: lightseagreen;
  color: antiquewhite;
  z-index: 5;
  padding: 20px;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
}

#dialog.hidden {
  display: none;
}

#exchangeRate {
  margin-right: 3px;
}

#submit {
  padding: 10px 10px;
  margin-top: 10px;
}

.disable {
  color: rgb(125, 125, 125);
  background-color: antiquewhite;
}
